@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Playfair:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap');
html {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex: 1;
}
.distime-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}